html {
    font-size: 10px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

*, ::before, ::after { //pseudo elements
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;API docsDownload allwindow['API_BASE_URL'] = '\/'; window['ICON_API_BASE_URL'] = '\/'; window['STYLE_PROTOCOL_OVERRIDE'] = '\/\/'; window['STYLE_DOMAIN'] = 'fonts.googleapis.com'; window['ENABLE_EXPERIMENTAL_SCRIPTS'] =  0.0 ; window['SUPPORTED_AXES'] = '\x5bwght, wdth\x5d'; window['SUPPORTS_VF'] =  1.0 ; window['ENABLE_NOTO'] =  0.0 ; window['ENABLE_MINI_PLAYGROUND'] =  0.0 ;
    font-size: 1.8rem;  //18px
    font-weight: 400;   //regular
    line-height: 1;
}

a{
    text-decoration: none;  //remove link styling
}

a, a:hover{
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

