#the page used for administration such as viewing number of active listings
#TODO: ability to take down a listing, blacklist users
#use later for admins to see trends

<h1>Admin#index</h1>
<h1>Welcome</h1>
<p>
It's <%= Time.now %>.
We have <%= pluralize(@total_listings, "listing") %>.
</p>
